Django==4.1.6
matplotlib==3.6.3
matplotlib-inline==0.1.6
keras==2.11.0
numpy==1.24.1
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
pandas==1.5.3
scikit-image==0.19.3
scikit-learn==1.2.1
scipy==1.10.0
seaborn==0.12.2
sklearn==0.0.post1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.30.0