{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- icon= -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="section ai">
        
        <h1>SLR language</h1>
        <div class="ai-top">
            <div class="top-left">
                <div class="frame">

                </div>
            </div>
            <div class="top-right">
                <button class="button-32">กดเพื่อใช้งาน</button>
                

                <div class="ai-result">ผลลัพธ์คือ :</div>
            </div>
        </div>
        <div class="ai-bot">
            <div class="bot-left">
                <h1>ค้นหา</h1>
	
                <div class="SearchBox">
                    <input type="text" class="SearchBox-input" placeholder="คำที่ต้องการค้นหา.">
                
                        <button class="SearchBox-button">
                            <i class="SearchBox-icon  material-icons">search</i>
                        </button>
                    
                </div> 
            </div>
            <div class="bot-right">
                <div class="frame"></div>
            </div>
        </div>
        <a href="{% url 'index' %}"><button class="button-32">กลับสู่เว็บไซค์</button></a>
        
    </div>


</body>

</html>