body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.menubar{
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666;
}
.menubar .logo {
    float: left;
}
.menubar h1{
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding-top: 10px;
}
.menubar ul.menu{
    list-style: none;
    float: right;
}
.menubar ul.menu li{
    float: left;
    margin-right: 20px;
}